/* Border box declaration */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-size: 100%;
	font-family: Arial, Geneva, sans-serif;
	background-color: #70482D;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

nav {
	background-color: #ED8F00;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}
nav ul li {
	font-family: 'Lato', sans-serif;
}
nav ul a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 1em;
	float: left;
}
nav ul a:hover, nav ul li.active a {
	color: #a16100;
}

main {
	overflow: auto;
	background-color: #EFECCA;
}
main h2, div.photogallery h2 {
	padding-top: 1%;
	color: #61381D;
	font-family: 'Lato', sans-serif;
}
main p, div.photogallery p {
	font-family: 'Lato', sans-serif;
	color: #BB6F39;
}

div.photogallery p {
	padding-left: 1%;
	padding-right: 1%;
}

div.col-1-2-4 img {
	max-width: 350px;
	width: 95%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

div.col-1-2-4 p {
	width: 95%;
	padding-left: 5%;
	padding-right: 2%;
	font-family: 'Lato', sans-serif;
	color: #BB6F39;
}

main img {
	padding-top: 1%;
	padding-left: 1%;
	margin-right: 1.875em;
	float: left;
}
footer {
	clear: both;
	padding: 0.5em 0;
	margin: 0.75em 0;
	color: #999;
	text-align: center;
}

/* grid system */

.row::after {
    content:"";
    display: table;
    clear:both;
} 

[class*='col-'] {
	float: left;
	min-height: 1px;
}
.col-1 {
	width: 25%;
}
.col-1-2-4 {
	width: 25%;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 75%;
}
.col-4 {
	width: 100%;
}

/* media queries */

/* Desktop Screen Sizes */
/* Pixel Range: >= 1000px; */
@media only screen and (min-width: 1050px) {
	header {
		background: url(../images/sog-entrance-1200.jpg) no-repeat;
		width: 1200px;
		height: 300px;
		font-family: 'Lato', sans-serif; 
		color: #fff;
	}

	main h2, div.photogallery h2 {
		font-size: 2.5em;
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
	main p, div.photogallery p {
		font-size: 1.5em;
		line-height: 1.375;
	}
	main {
		background-color: red;
	}

	.col-1-2-4 h3 {
		font-size: 1.25em;
		margin: 0 auto;
		text-align: center;
	}
}

/* Tablet Screen Sizes */
/* Pixel Range: >= 768px; */
@media only screen and (min-width: 768px) and (max-width: 1049px) {
	header {
		background: url(../images/sog-entrance-1000.jpg) no-repeat;
		width: 1000px;
		height: 300px;
		font-family: 'Lato', sans-serif; 
		color: #fff;
	}
	main h2, div.photogallery h2 {
		font-size: 2.25em;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
	main p, div.photogallery p {
		font-size: 1.25em;
		line-height: 1.3;
	}	
	main {
		background-color: blue;
	}

	.col-1-2-4 h3 {
		font-size: 1.1em;
		margin: 0 auto;
		text-align: center;
	}
}


/* Mobile Landscape Screen Sizes */
/* pixel range: 480-767px */
@media only screen and 
	(min-width: 480px) and (max-width: 767px)  {

	header {
		background: url(../images/sog-entrance-800.jpg) no-repeat;
		width: 800px;
		height: 300px;
		font-family: 'Lato', sans-serif; 
		color: #fff;
	}
	main h2, div.photogallery h2 {
		font-size: 1.75em;
		padding-left: 0.15em;
		padding-right: 0.15em;
	}
	main p, div.photogallery p {
		font-size: 1em;
		line-height: 1.25;
	}
	main {
		background-color: green;
	}

	.col-1-2-4 {
		width: 50%;
	}

	.col-1-2-4 h3 {
		font-size: 1.25em;
		margin: 0 auto;
		text-align: center;
	}
}
@media only screen and (max-width: 479px)  {

	header {
		background: url(../images/sog-entrance-500.jpg) no-repeat;
		width: 500px;
		height: 255px;
		font-family: 'Lato', sans-serif; 
		color: #fff;
	}
	
	header h1 {
		padding: 0.5em;
		margin: 0;
	}
	header h1 a {
		color: #fff;
		text-decoration: none;
	}
	main h2, div.photogallery h2 {
		font-size: 1.5em;
		padding-left: 0.1em;
		padding-right: 0.1em;
	}
	main p, div.photogallery p {
		font-size: 1em;
		line-height: 1.25;
	}
	main {
		background-color: pink;
	}

	.col-1-2-4 h3 {
		font-size: 1.25em;
		margin: 0 auto;
		text-align: center;
	}	
}

/* Mobile portrait Screen Sizes */
/* pixel range: <=479px */
@media only screen and (max-width: 479px) {
	[class*='col-'] {
		width: 100%;
		float: none;
		margin-left: 0;
	}
}